
* {
  box-sizing: border-box;
}

form.SDbutton input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid White;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.SDbutton button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid White;
  border-left: none;
  cursor: pointer;
}

form.SDbutton button:hover {
  background: limegreen;
}

form.SDbutton::after {
  content: "";
  clear: both;
  display: table;
}

.tabledelete{
  color: #fff;
}

.errordelete{
  color: red;
  text-align: center;
  font-size: 20px;
}