/* Google Font Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url('img/world.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

h1 {
    text-align: center;
}

.text-bold {
    font-weight: 800;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(255, 255, 255, 0) 90%);
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list-1 {
    margin-top: 50px;
    padding-left: 0;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 60px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
}

.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #FFF;
}

.sidebar .bx-search:hover {
    background: #FFF;
    color: #11101d;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    /* background: #45526e; */
}

.sidebar li a:hover {
    background: #FFF;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 27px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.welcome-section {
    position: relative;
    min-height: 100vh;
    top: 0;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .main-text {
    display: inline-block;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
}

.main-page {
    height: 150px;
    border-radius: 50%;
    border: 10px solid #FEDE00;
}

.main-text h1 {
    font-size: 40pt;
    color: white;
    /* color:#66fcf1;  */
    text-align: left;
}

.main-text p {
    font-size: 13pt;
    font-weight: lighter;
    text-align: justify;
    color: white;
}

.main-text p a {
    font-size: 20px;
    color: #1F9AFE;
}

.bg-meaning {
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}

.menu-details {
    font-size: 12pt;
    font-weight: lighter;
    float: left;
    width: 50%;
    padding: 20px;
    margin-top: 20px;
}

.menu-details h1 {
    padding-top: 120px;
}

.store-input {
    /* border-radius: 20px; */
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-weight: lighter;
}

.form-contain {
    width: 50%;
    padding: 40px;
}

.form-details {
    width: 50%;
}

.main-menu-bg {
    background: rgba(37, 36, 36, 0.7);
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    margin: 30px;
}

.main-menu-bg h1 {
    font-size: 45pt;
}

.text-area {
    width: 100%;
    /* background: rgba(255, 255, 255, 0); */
    font-size: 16px;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.text-area1 {
    width: 49%;
    float: left;
    font-size: 16px;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.text-area2 {
    width: 49.5%;
    font-size: 16px;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.text-area3 {
    width: 49.5%;
    font-size: 16px;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.indent {
    padding-left: 185px;
}

.indent2 {
    padding-left: 195px;
}

.indent3 {
    padding-left: 220px;
}

.btnsubmit {
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    background: rgb(78, 78, 78);
}


/* .map {
    float: right;
    width: 50%;
} */

.map img {
    width: 100%;
    padding: 10px;
    padding-top: 50px;
    /* transform: rotate(20deg); */
}

option {
    color: black;
}

footer {
    margin-top: 30px;
    margin-bottom: 20px;
}

footer a {
    font-size: 12pt;
}

footer a:hover i {
    color: #11101D;
}


/*CSS for  VIDEO BG*/


/* Style the video: 100% width and height to cover the entire window */

.myVideo {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    object-fit: cover;
}


/*
  object-fit: cover; */


/* Add some content at the bottom of the video/page */

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}


/*End CSS for VIDEO BG*/


/*Css for Profile.php*/

body {
    font-family: Arial;
    color: white;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #746A61;
}

.right {
    right: 0;
    background-color: #4A707A;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
}

.card {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.5);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.title {
    color: black;
    font-size: 20px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}


/*End CSS for profile.php*/

ol.even {
    position: relative;
    left: 5.45455rem;
}

ol.odd {
    position: relative;
}

.hex {
    position: relative;
    margin: 1em auto;
    width: 6rem;
    height: 10.2rem;
    background: #353535;
    transform: rotate(-90deg);
    display: inline-block;
    list-style-type: none;
    margin-right: 4.1538rem;
    transition: all 150ms ease-in-out;
    z-index: 2;
}

.hex:before,
.hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
    z-index: -1;
}

.hex:before {
    transform: rotate(60deg);
}

.hex:after {
    transform: rotate(-60deg);
}

.hex:hover {
    background: #ffffff;
    cursor: pointer;
}

.honeycomb {
    padding-top: 20px;
    width: 100%;
}


/*button style in search*/

.navitem {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    background-color: DodgerBlue;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    width: 15%;
    height: 200px;
    font-size: 20px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    border-radius: 20px;
}

.middle {
    width: 100%;
    height: 200%;
}


/*button style in search*/

.navitem {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    background-color: DodgerBlue;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    width: 15%;
    height: 200px;
    font-size: 20px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
    border-radius: 20px;
}

.search-menu {
    width: 100%;
}

.search-menu-1 {
    width: 100%;
    padding-top: 15px;
}

.search-menu-2 {
    width: 100%;
    padding-top: 15px;
}

.search-menu-submit {
    width: 100%;
}


/* seach menu buttons*/

.button3 {
    border: 1px solid green;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: skewX(-10deg);
    height: 50px;
    width: 130px;
    border-radius: 20px 5px 20px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font: 15px sans-serif;
    font-weight: 300;
    text-shadow: 0 0 20px #fff;
    text-transform: uppercase;
    -webkit-animation: breath2 2s 0.5s infinite alternate;
    animation: breath2 2s 0.5s infinite alternate;
    transition: all 0.2s ease;
    cursor: pointer;
}

.button3:before {
    content: "";
    display: block;
    width: calc(100% - 22px);
    height: calc(50px - 8px);
    -webkit-animation: breath 2s infinite alternate;
    animation: breath 2s infinite alternate;
    left: 10px;
    top: 3px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px 3px 15px 3px;
}

.button {
    border: 1px solid green;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: skewX(-10deg);
    height: 50px;
    width: 250px;
    border-radius: 20px 5px 20px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font: 15px sans-serif;
    font-weight: 300;
    text-shadow: 0 0 20px #fff;
    text-transform: uppercase;
    -webkit-animation: breath2 2s 0.5s infinite alternate;
    animation: breath2 2s 0.5s infinite alternate;
    transition: all 0.2s ease;
    cursor: pointer;
}

.button:before {
    content: "";
    display: block;
    width: calc(100% - 22px);
    height: calc(50px - 8px);
    -webkit-animation: breath 2s infinite alternate;
    animation: breath 2s infinite alternate;
    left: 10px;
    top: 3px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px 3px 15px 3px;
}

.search-menu a {
    font-size: 12pt;
    color: white;
    text-decoration: none;
}

.search-menu-1 a {
    font-size: 12pt;
    color: white;
    text-decoration: none;
}

.button.ice {
    border-color: #ffffff;
    background-image: linear-gradient(to bottom, rgba(44, 44, 44, 0.5), rgba(126, 126, 126, 0.5));
    box-shadow: 0 0 70px rgba(17, 17, 17, 0.5), 0 5px 20px rgba(44, 44, 44, 0.5), inset 0 1px #9e9e9e, inset 0 -1px #2c2c2c;
    color: #ffffff;
}

.button.ice:before {
    box-shadow: inset 0 0 30px 0 #e2e2e2;
}

.button:hover.ice {
    box-shadow: 0 0 70px rgba(44, 44, 44, 0.8), 0 5px 20px rgba(44, 44, 44, 0.8), inset 0 1px #868686, inset 0 -1px #a7a7a7;
}

.button:hover.ice:before {
    box-shadow: inset 0 0 50px 0 #ffffff;
}

.button+.button {
    margin-top: 15px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}


/* ice 2 */

.button2 {
    border: 1px solid green;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: skewX(-10deg);
    height: 50px;
    width: 250px;
    border-radius: 20px 5px 20px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font: 15px sans-serif;
    font-weight: 300;
    text-shadow: 0 0 20px #fff;
    text-transform: uppercase;
    -webkit-animation: breath2 2s 0.5s infinite alternate;
    animation: breath2 2s 0.5s infinite alternate;
    transition: all 0.2s ease;
    cursor: pointer;
}

.button2:before {
    content: "";
    display: block;
    width: calc(100% - 22px);
    height: calc(40px - 8px);
    -webkit-animation: breath 2s infinite alternate;
    animation: breath 2s infinite alternate;
    left: 10px;
    top: 3px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 15px 3px 15px 3px;
}

.search-menu a {
    font-size: 12pt;
    color: white;
    text-decoration: none;
}

.search-menu-1 a {
    font-size: 12pt;
    color: white;
    text-decoration: none;
}

.button2.ice2 {
    border-color: #ffffff;
    background-image: linear-gradient(to bottom, rgba(44, 44, 44, 0.5), rgba(126, 126, 126, 0.5));
    box-shadow: 0 0 70px rgba(17, 17, 17, 0.5), 0 5px 20px rgba(44, 44, 44, 0.5), inset 0 1px #9e9e9e, inset 0 -1px #2c2c2c;
    color: #ffffff;
}

.button2.ice2:before {
    box-shadow: inset 0 0 30px 0 #e2e2e2;
}

.button2:hover.ice2 {
    box-shadow: 0 0 70px rgba(44, 44, 44, 0.8), 0 5px 20px rgba(44, 44, 44, 0.8), inset 0 1px #868686, inset 0 -1px #a7a7a7;
}

.button2:hover.ice2:before {
    box-shadow: inset 0 0 50px 0 #ffffff;
}

.button2+.button2 {
    margin-top: 15px;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes breath {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0.95);
    }
}

@keyframes breath {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0.95);
    }
}

@-webkit-keyframes breath2 {
    0% {
        transform: skewX(-10deg) scaleX(1);
    }
    100% {
        transform: skewX(-10deg) scaleX(0.95);
    }
}

@keyframes breath2 {
    0% {
        transform: skewX(-10deg) scaleX(1);
    }
    100% {
        transform: skewX(-10deg) scaleX(0.95);
    }
}

.ref {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 5px 8px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 300;
    font-family: sans-serif;
    text-decoration: none;
}

.ref::first-letter {
    font-size: 12px;
}


/* search*/

.search-details {
    font-size: 12pt;
    font-weight: lighter;
    width: 50%;
    padding: 20px;
}

.search-bg-meaning {
    font-size: 12pt;
    width: 50%;
    float: right;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 25px;
    border-radius: 20px;
}

.search-bg-meaning th {
    font-size: 14pt;
}

.search-bg-meaning td {
    font-weight: lighter;
}

.search-country {
    font-size: 60px;
    color: white;
    /* color:#66fcf1;  */
}

input[type=checkbox] {
    cursor: pointer;
    transform: scale(2);
}


/* search input */

.height {
    height: 100vh;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    margin-top: 10px;
}

.search input {
    height: 50px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid rgb(56, 56, 56);
}

.search select {
    height: 50px;
    border: 2px solid #d6d4d4;
}

.search select:focus {
    box-shadow: none;
    border: 2px solid rgb(56, 56, 56);
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 8px;
    height: 40px;
    width: 110px;
    background: rgb(53, 53, 53);
    color: white;
    font-size: 10pt;
}


/* data design in view search */

.data-design {
    width: 100%;
    font-size: 12pt;
    font-weight: lighter;
    padding: 50px;
}

.data-design th {
    font-weight: bold;
    font-size: 14pt;
}


/* delete data table */

.delete-data-design {
    width: 100%;
    font-size: 12pt;
    font-weight: lighter;
    padding: 50px;
    margin-bottom: 300px;
}

.delete-data-design th {
    font-weight: bold;
    font-size: 14pt;
}

form.SDbutton input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid White;
    float: right;
    width: 330px;
    background: #f1f1f1;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

form.SDbutton button {
    float: right;
    width: 70px;
    padding: 10px;
    background: #2e2e2e;
    color: white;
    font-size: 17px;
    border: 1px solid White;
    border-left: none;
    cursor: pointer;
}

form.SDbutton button:hover {
    background: rgb(255, 255, 255);
    color: #000;
}

form.SDbutton::after {
    content: "";
    clear: both;
    display: table;
}


/* find */

.findbutton input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid White;
    float: right;
    width: 330px;
    background: #f1f1f1;
    margin-bottom: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.findbutton button {
    float: right;
    width: 70px;
    padding: 10px;
    background: #2e2e2e;
    color: white;
    font-size: 17px;
    border: 1px solid White;
    border-left: none;
    cursor: pointer;
}

.findbutton button:hover {
    background: rgb(255, 255, 255);
    color: #000;
}

.findbutton ::after {
    content: "";
    clear: both;
    display: table;
}

.find-details {
    font-size: 14pt;
    background: rgba(37, 36, 36, 1);
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.find-details1 {
    font-size: 14pt;
    background: rgba(37, 36, 36, 1);
    padding: 20px;
    width: 60%;
    margin-bottom: 10px;
}


/* find */

.tabledelete {
    color: #fff;
}

.errordelete {
    color: red;
    text-align: center;
    font-size: 20px;
}


/* button modal */

.btnmodals {
    width: 100px;
    border-radius: 10px;
}


/* Responsive */

@media (max-width: 1185px) {
    .form-details {
        width: 100%;
    }
    .form-contain {
        display: none;
    }
}

@media (max-width: 992px) {
    .wrap-login100 {
        padding: 177px 90px 33px 85px;
    }
    .login100-pic {
        width: 35%;
    }
    .form-details {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px;
    }
    .form-contain {
        display: none;
    }
    .form-details {
        width: 100%;
    }
    .menu-details {
        width: 100%;
    }
}

@media (max-width: 686px) {
    .text-area1,
    .text-area2,
    .text-area3 {
        width: 100%;
    }
    .indent3 {
        padding-left: 0;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px;
    }
    .search-bg-meaning {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

.hide {
    background-color: #000;
    width: 1095px;
    height: 300px;
    border: 1px dotted black;
    overflow-y: scroll;
}

.hide::-webkit-scrollbar {
    display: none;
}

.hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}